@import url("http://fonts.cdnfonts.com/css/livvic");
*{    font-family: "Livvic", sans-serif !important;
  /* border-color: transparent !important; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.1s;
  /* font-family: poppins !important; */
}

body{
  width: 100%;
  padding: 0;
  margin: 0;
}

















