@import url("http://fonts.cdnfonts.com/css/livvic");
*{    font-family: "Livvic", sans-serif !important;
  /* border-color: transparent !important; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.1s;
  /* font-family: poppins !important; */
}

body{
  width: 100%;
  padding: 0;
  margin: 0;
}
.adminApp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: whitesmoke;
}

.container{
  width: 100%;
  background-color: whitesmoke;
  min-height: 100vh;
  transition: 0.3s;
}

.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0px 20px;
}

.top-bar h1{
    color: rgb(92, 92, 92);
}

.search-bar{
  width: 300px;
}

.top-bar img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.top-bar .admin-details{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.top-bar .admin-details i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gainsboro;
}

.top-bar .admin-details i svg{
  width: 22px;
  transition: 0.2s;
  height: 22px;
}



.item-wrapper a{
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 15px;
  color: rgb(78, 78, 78);
  font-size: 16px;
}
.sidebar{
  min-width: 280px;
  max-width: 280px;
  border-right: 1px solid rgb(228, 228, 228);
  background-color: white;
  height: 100vh;
  padding-top: 20px;
  overflow: auto;
  position: sticky;
  top: 0;
  transition: 0.2s;
}



.sidebar-menu{
  padding: 0px 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}


.active{
  background-color: rgb(242, 246, 248) !important;
}


.sidebar-item{
    border-color: transparent !important;
}

.sidebar-item span {
  display: flex;
  gap: 15px;
}

.sidebar-a{
  /* width: 100%; */
  display: flex;
  align-items: center;
  padding: 16px 8px;
  justify-content: flex-start;
  padding-left: 15px;
  gap: 15px;
  text-decoration: none;
  font-weight: 500;
  color: black;
  border-radius: 5px;
}

.sidebar-a:hover{
  background-color: #F8F9FA;
}

.sidebar-item h3 {
  /* background-color: yellow; */
  border-radius: 5px;
}
.sidebar-item h3 button:hover{
  border-radius: 5px;

}


.minimizeBar{
  position: fixed;
  min-width: 380px;
  max-width: 380px;
  height: calc(100vh - 40px);
  top: 20px;
  left: 20px;
  border: 1px solid gainsboro;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.144);
  z-index: 20;
  transition: 0.2s;
  /* transform: translateX(-110%); */

}

.showSidebar {
  transform: translateX(-110%);
}

















.item-wrapper{
  display: flex;
  padding: 10px 0;
  border-radius: 5px;
}
.item-wrapper:hover{
  background-color: #F8F9FA;
}
.item-wrapper a{
  padding-left: 15px;
}

.dashboard-container{
}
.content{
  padding: 30px;
}

.dashboard-container{
  width: 100%;
}

.IncomeCard{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}

.MonthCalander{
  background-color: white;
  width: max-content;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.MonthCalander h1{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
}
.IncomeGraphContainer{
width: 100%;
background-color: white;
padding: 30px;
border-radius: 20px;
}

.IncomeCardContainer{
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.incomeChart{
  height: 350px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-top: 20px;
  padding: 25px;
  overflow: hidden;
  /* padding: 40px 20px; */
}

.incomeChart svg{
  width: 100% !important;
  transform:scale(1.4)translateY(-10px);
}

.incomeChart svg g text tspan{
  font-size: 10px !important;
}

.IncomeCardContainer .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 20px;
}

.IncomeCardContainer .card span{
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}



.IncomeCardContainer h1{
  color: rgb(95, 95, 95);
}

.Overview{
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
}

.overview-date{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.OverviewCard{
  display: grid;
  width: 100%;
  /* column-gap: 20px; */
  grid-template-columns: repeat(3,1fr);
  
}

.OverviewCard .card{
  height: max-content;
  background-color: white;
  display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px 0px;
}

 .OverviewCard .card:nth-child(2),.OverviewCard .card:nth-child(5){
  border-left: 2px solid gainsboro;
  border-right: 2px solid gainsboro;
  border-radius: 0;
}

.OverviewCard .card:nth-child(1),.OverviewCard .card:nth-child(2),.OverviewCard .card:nth-child(3){
  border-bottom: 1px solid gainsboro;
}

/* .OverviewCard .card:nth-child(3) h1{
color: crimson;
} */

/* .OverviewCard .card:nth-child(2) h1{
  color: royalblue;
  } */

.OverviewCard .card h1{
  font-size: 40px;
  color: slategray;
}

.OverviewCard .card .top{
 display: flex;
  align-items: center;
  gap: 10px;
}
.OverviewCard .card .top{
  font-size: 16px;
  color: slategray;
}
.OverviewCard .card .top svg{
  width: 30px;
  height: 30px;
  display: none;

}


.recent-user{
  margin-top: 30px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}

.recent-user h2{
  margin-bottom: 20px;
  color: rgb(78, 78, 78);
}

.recent-user table button{
  border: none;
  background-color: transparent;
  cursor: pointer;

}

.recent-user button svg{
  width: 20px;
  height: 20px;
}

.table-container{
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.table-container table button{
  border: none;
  background-color: transparent;
  cursor: pointer;

}

.table-container button svg{
  width: 20px;
  height: 20px;
}

.drone table{
  display: none;
}
.information{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.information h2{
  color: rgb(78, 78, 78);
}

.information p{
  font-size: 18px;
  color: slategrey;
}

.information img{
  width: 400px;
}

.regDrone{
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  color: rgb(78, 78, 78);
}

.formWrapper{
  margin-top: 30px;
  width: 450px;
}

.formWrapper input,.formWrapper textarea {margin-bottom: 20px;}
.btn-container{
  display: flex;
  justify-content: flex-end;
}

.sendMailContainer{
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  color: rgb(78, 78, 78);
}

.mail{
  width: 500px;
}

label{
  font-weight: 600;
}

.mail textarea{
  height: 200px;
}